body{
  background: rgb(163, 255, 255);
}

.footer{
  background: rgb(201, 197, 197);
}

.logo{
  margin-top: 5px;
}

.contacto{
  background-color: rgb(201, 197, 197) ;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.link-redSocial{
  display: inline-block;
  width: 40px;
  height: 40px;
}

.link-redSocial.facebook{
  background-size: 40px 40px;
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/facebook.png");
}

.link-redSocial.instagram{
  background-size: 40px 40px;
  background-image: url("https://img.icons8.com/material/48/000000/instagram-new--v1.png");
}

.formulario-email input{
  border-color: grey;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border-style: solid;
}
.formulario-email button{
  display: block;
  background-color: transparent;
  color:black;
  border-radius: 5px;
  width: 50px;
  padding: 4px 0;
  margin-top: 10px;
}

.footer{
  background-color:rgb(201, 197, 197);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: -10px;
}